.main-nav.navbar-light .navbar-nav .nav-link {
    color: var(--bgc-linknav);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: var(--bgc-rouge);
    font-weight: 800;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
    color: white;
}

.navbar-light .navbar-toggler {
    border-color: var(--bgc-black);
    background-color: var(--bgc-toggler);
}

/* ---------------------------- */


.nospacing {
  padding: 0 !important;
  margin: 0 !important;
}

.container {
    width: 100%;
    padding-right: 0;   /*15px; */
    padding-left: 0;    /* 15px; */
    margin-right: auto;
    margin-left: auto;
    max-width: 100%
}
@media (max-width:700px) {
    .fixed-top{position:relative;top:0;right:0;left:0;z-index:1030}
}
@media (max-height:700px) {
    .fixed-top{position:relative;top:0;right:0;left:0;z-index:1030}
}

