.visitor {
    position: fixed;
    top:58px;
    right: 20px;
    height:20px;
    width: max-content;
    background-color: rgba(72, 255, 0, 0.658);
    border-radius: 8px;;
}
#visitorNum {
    height:20px;
    padding: 0 1rem;
    width: max-content;
}


















