
/* LANGAGES FLEX */
.moocs {
  padding: 3rem 0 1rem 0;
  margin: 0;
  /* background-color: rgba(0,0,0,.8); */
  background-image: url('../img/moocs_bg.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}
.moocs .container {
  padding: 0;
  margin: 0;
  width: 100%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: stretch;
}
.moocs h2 {
  font-size: 3rem;
  color:#FFF;
  text-align: center;
  padding: 0 0 1.2rem 0;
}
.moocs .container .fiche {
  /* width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px; */
  width: 250px;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  color:#FFF;
  margin:.5rem;
  background-size: cover;
  background-position: 50% 50%;
  font-size: 1rem;
}
.moocs .container .fiche p {
  text-align: center;
  padding: 0 1rem 0 1rem;
}
.moocs .container .fiche .annonces {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 5px 0px 5px rgb(0, 0, 0);
}
.moocs .container .fiche figure .annonces h3 {
  font-size: 2rem;
  /* padding-left:2rem; */
  font-weight: 800;
}

/* HOVER  */
.moocs .container article:hover{
  background-size: 170%;
  background-position: 50% 0;
}
.moocs .container  .fiche .annonces:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
/* END-HOVER  */
/* images */


/* LANGAGES */



@media (max-width:575px) {
    .moocs .container .fiche{
        width: 100%;
        max-width: 100%;
        margin:1rem;
        font-size: 1.3rem;
    }
}
@media (min-width:576px) {
    .moocs .container .fiche{
        width: 50%;
        max-width: calc(50% - 2rem);
        margin:1rem;
        font-size: 1.3rem;
        margin:.5rem;
    }
}
@media (min-width:860px) {
    .moocs .container .fiche{
        width: 33%;
        max-width: calc(33% - 2rem);
        margin:1rem;
        font-size: 1.1rem;
        margin:.5rem;
    }
}
@media (min-width:1338px) {
    .moocs .container .fiche{
        width: 25%;
        max-width: calc(25% - 2rem);
        margin:1rem;
        font-size: 1.1rem;
        margin:.5rem;
    }
}
@media (min-width:1500px) {
    .moocs .container .fiche{
        width: 250px;
        height: 250px;
        max-width: 100%;
        max-height: 100%;
    }
}