/* trucssupers  */
section.trucssupers {
    width:90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    padding: 2rem 0;
  }
  section.trucssupers .fiches {
    width:90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    align-items: center;
  }
  section.trucssupers div h2 {
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem ;
  }  
  section.trucssupers .fiches article  {
    width: 100%;
    min-width: 100px;
    background-color: rgba(255, 255, 255, 0.753);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  section.trucssupers .fiches article .image{
    width:100px;
    height:100px;
    background-color:var(--bg-rouge);
    border-radius: 90px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  section.trucssupers .fiches .fork .image {
      background-image: url('../img/fork-and-knife-silhouette.svg');
  }
  section.trucssupers .fiches .bed .image {
      background-image: url('../img/bed.svg');
  }
  section.trucssupers .fiches .fire .image {
      background-image: url('../img/fire-symbol.svg');
  }
  section.trucssupers .fiches .leaf .image {
      background-image: url('../img/plant-leaf-with-white-details.svg');
  }
  section.trucssupers .fiches .umbrella .image {
      background-image: url('../img/umbrella-black-silhouette.svg');
  }
  section.trucssupers .fiches .dollar .image {
      background-image: url('../img/dollar-symbol.svg');
  }
  section.trucssupers .fiches article h3 {
    text-align: center;
    font-size: 3rem;
  }
  section.trucssupers .fiches article p {
    font-size: 2rem;
    width: 95%;
    text-align: center;
  }

  
@media (min-width:576px) {
  section.trucssupers .fiches article {
    width: calc( 100% / 2 );
  }
    section.trucssupers .fiches article h2 {
      font-size: 2.5rem;
    }
    section.trucssupers .fiches article p {
      font-size: 1.5rem;
      width: 85%;
    }
}
  @media (min-width:860px) {
    section.trucssupers .fiches article {
      width: calc( 100% / 2 );
    }
    section.trucssupers .fiches article h2 {
      font-size: 3rem;
    }
    section.trucssupers .fiches article p {
      font-size: 2rem;
    }
  }
  @media (min-width:1338px) {
    section.trucssupers .fiches article {
      width: calc( 100% / 3 );
    }
  }
  @media (min-width:1500px) {
    section.trucssupers .fiches article {
      width: calc( 100% / 6 );
    }
  }