
/* COVER  */
section.superequipe {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-image: url('../img/team.jpg');
  background-size: cover;
  background-position: center top;
  background-color: none;
  padding: 0rem 2rem;
  color: rgba(255, 255, 255, 0.795);
}
section.superequipe h1 {
  font-size: 3.5rem;
  text-align: center;
}
section.superequipe p {
  text-align: center;
  font-size: 2rem;
}
/* END-COVER */

/* @media (max-width:575px) {
} */
@media (min-width:576px) {
  section.superequipe h1 {
    font-size: 4em;
  }
  section.superequipe p {
      font-size: 1.5em;
  }
}
@media (min-width:860px) {
  section.superequipe h1 {
    font-size: 5em;
  }
  section.superequipe p {
      font-size: 2em;
  }
}
@media (min-width:1338px) {
  section.superequipe h1 {
    font-size: 5em;
  }
  section.superequipe p {
      font-size: 1.5em;
  }
}
@media (min-width:1500px) {
  section.superequipe h1 {
    font-size: 7em;
  }
  section.superequipe p {
      font-size: 3em;
  }
}