/* trucssupers  */
section.trombi {
    width:100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    padding-top:2rem;
  }
  section.trombi .fiches {
    width:90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    align-items: center;
  }
  section.trombi .image{
    width:150px;
    height:150px;
    background-color:var(--bg-rouge);
    border-radius: 90px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  section.trombi .fiches article.talign .image {
      background-image: url('../img/avaone.jpg.png');
  }
  section.trombi .fiches article.marge .image {
      background-image: url('../img/avatwo.jpg.png');
  }
  section.trombi .fiches article.isaac .image {
      background-image: url('../img/avathree.jpg.png');
  }
  section.trombi .fiches article.hash .image {
      background-image: url('../img/avafour.jpg.png');
  }


  
  section.trombi .fiches article {
    width: 100%;
    min-width: 100px;
    background-color: rgba(255, 255, 255, 0.753);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  
@media (min-width:576px) {
    section.trombi .fiches article {
      width: 100%;
    }
}
  @media (min-width:860px) {
    section.trombi .fiches article {
      width: 50%;
    }
  }
  @media (min-width:1338px) {
    section.trombi .fiches article {
        width: 25%;
    }
  }
  @media (min-width:1500px) {
    section.trombi .fiches article {
      width: 25%;
    }
  }
  .mailer{
      background-image: url('img/maile.png');
  }