/* Définition des couleurs */
:root {
    --grey: rgb(199, 199, 199);
    --grey-light: #EAEAEA;
    --grey-dark: #707070;
}

/* Définition des effets */
.shadows {
    box-shadow: 1px 2px 25px rgba(0, 0, 0, .3);
}

/* .outlined {
    outline: 1px solid red;
} */

/* Nettoyage de balises */
h1,
h2,
h3,
h4,
p,
li,
ul,
ol {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: var(--grey);
}

/* css corps de page */
body {
    position: relative;
    font-family: Avenir, sans-serif;
    min-height: 100vh;
    font-size: 1.6em;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.formulaire-contact {
    display: grid;
    grid-template-columns: 40% 5% 40% 5% 10%;
    width: calc(100vw - 5rem);
    height: calc(100vh - 5rem);

    /* width: 100px;height: 100%; */
    background-color: #ffffff;
}

/*  4 blocs à mettre en grid  */
.form-visuel {
    background-image: url(../img/debiessolene.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.form-btn {
    grid-column: 4 / 5;
    grid-row: 1;
}

.form-page {
    grid-column: 3;
    grid-row: 2;
    margin: 2em 1em 0 2em;
}

.form-footer {
    grid-column: 2 / 4;
    grid-row: 3;
}

/* Contenus de form-footer */
.form-footer p {
    color: var(--grey-dark);
    font-size: .8rem;
    margin: 0 0 0 2rem;
}

/* Contenus de form-btn */
.form-btn a {
    color: #000;
    text-transform: uppercase;
    font-size: .7rem;
    margin: 0;
}

/* Contenus de form-page */
.form-page .formulaire {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 1rem;
    margin: auto;
    width: fit-content;
}

.form-page .formulaire h1 {
    color: var(--grey-dark);
    text-transform: uppercase;
    font-size: 1.8rem;
    /* white-space: nowrap; */
}

.form-page .formulaire p {
    font-size: .9rem;
    margin: 0;
    padding-bottom: 3rem;
}

.label-email {
    position: relative;
    text-transform: uppercase;
    font-size: .7rem;
    left: 7px;
    bottom: 7rem;
    color: var(--grey);
    visibility: visible;
}

.label-word {
    position: relative;
    text-transform: uppercase;
    font-size: .7rem;
    left: 7px;
    bottom: 72px;
    color: var(--grey);
    visibility: visible;
}

input {
    padding: .5rem 0 .2rem .7rem;
    border: 0;
    height: 3rem;
    font-size: .9rem;
    /* outline:1px solid black; */
    color: var(--grey);
    margin: 0;
}

.email:focus,
.word:focus {
    border-left: 4px solid red;
    color:rgb(54, 54, 54);
    font-weight: 800;
}

.email:focus+.label-email,
.word:focus+.label-word {
    border-left: 4px solid red;
    visibility: hidden;
}

.label-forget {
    position: relative;
    text-transform: uppercase;
    font-size: .7rem;
    right: 2px;
    bottom: 6em;
    margin-left: auto;
}

.soumission {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0;
    padding: 0;
    margin-left: auto;
    border: 0;
}

.soumission::after {
    background-image: url('../img/submit.png');
    background-size: 20px 20px;
    background-position: bottom left;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
}


@media (max-width: 48em) {

    /* largeur max 768 */
    .formulaire-contact {
        margin: 0;
        padding: 0;
        width: calc(100vw - 1rem);
        height: calc(100vh - 1rem);
        display: grid;
        grid-template-columns: 5% 5% 80% 5% 5%;
    }


    .form-visuel {
        grid-column: 1 / 6;
        grid-row: 1 / 5;
        margin: 0;
        padding: 0;
        min-height: 60vh;
        width: 100%;
    }

    .form-btn {
        position: fixed;
        top: 1rem;
        right: 1rem;
        box-shadow: 1px 2px 25px rgba(0, 0, 0, .3);
        border: 1px solid rgb(59, 59, 59);
        border-radius: 7px;
        line-height: 1rem;
        font-size: 1rem;
        padding: .3rem;
    }

    .form-page {
        grid-column: 1 / 6;
        grid-row: 1 / 5;
        margin: 1rem 1em .5em 1em;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .form-page .formulaire {
        padding-bottom: 0;
        padding : 10px;
    }

    .form-page .formulaire h1 {
        font-size: 3rem;
        color: #000;
        font: 1px 2px 25px rgb(255, 255, 255);
        color:rgb(0, 0, 0);
    }
    .form-page .formulaire p {
        padding: .5rem 1rem 2rem 1rem;
        margin: 0;
        font-size: 1.1rem;
        color:rgb(0, 0, 0);
    }

    .form-footer {
        text-align: center;
        grid-column: 1 / 5;
        grid-row: 4;
    }

    .form-footer p {
        margin: 0;
        padding: 0;
        color: black;
    }
    input {
        padding: .5rem 0 .2rem 0;
        margin: 0 1rem 0 1rem;
    }
    
}